a{
    word-break: break-all;
}

img.left{
    float: left;
    margin-right:40px; 
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}

html,body{
	font-family: Consolas,"Microsoft yahei" !important;
}
code,pre{
    font-size: 14px;
}
h4{
	padding-right: 10px;
}
ul,ol{
	padding-left: 20px;
}