.content.card{
    padding-left:60px;
}   

h4{
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-left: -20px;
}

h4 + p > a{
    display: block;
    margin-left: -20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}