.t-columns{
    -moz-column-width: auto;
    -moz-column-count: 2;
    /*设置每一列的内容高度是否相同*/
    -moz-column-fill: balance;
    /*设置间隔的宽度*/
    -moz-column-gap: 2em;
    /*设置间隔之间的边线*/
    -moz-column-rule: 2px solid #ccc;

    -webkit-column-width: auto;
    -webkit-column-count: 2;
    -webkit-column-fill: balance;
    -webkit-column-gap: 2em;
    -webkit-column-rule: 2px solid #ccc;
}

.t-columns h4{
    text-align: center;
    /*跨越多列，仅仅webkit支持*/
    column-span: all;
    -moz-column-span: all;
    -webkit-column-span: all;
}

.t-columns p{
    text-indent: 2em;
}